{% extends "base.html" %}

{% block content %}
<div class="container">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Last Success</th>
        <th>Last Failure</th>
        <th>Last Duration</th>
      </tr>
    </thead>
    <tbody>
      {% for export_jobs in object_list %}
      <tr>
        {% if export_jobs.export_status %}
        <td id="light">
          <span class="active" id="green" data-toggle="tooltip" title="Export succeeded."></span>
        </td>
        {% else %}
        <td id="light">
          <span class="active" id="red" data-toggle="tooltip" title="Export failed."></span>
        </td>
        {% endif %}
        <td><a href="{%  url 'project-detail' pk=export_jobs.project.id %}">{{export_jobs.project.name }}</a></td>
        <td>{{ export_jobs.time_end }}</td>
        <td></td>
        <td>{{ export_jobs.duration }}s</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
